<body>
    <div class="page page--dashboard">
        <aside class="page__aside aside vertical">
            <div class="aside__logo text text--light">
                Sidebar
            </div>
            <div class="dvider"></div>
            <nav class="vartical vertical--small ">
                <a href="#" class="nav_button nav_button__active click margin-s-bottom">
                    <span class="icon nav_button__icon" style="background-image: url('/svg/nav/home.svg');"></span>
                    <span class="text  text--light">Home</span>
                </a>
                <a href="#" class="nav_button nav_button_no_activity click margin-s-bottom">
                    <span class="icon nav_button__icon" style="background-image: url('/svg/nav/orders.svg');"></span>
                    <span class="text  text--light">Orders</span>
                </a>
                <a href="#" class="nav_button nav_button_no_activity click margin-s-bottom">
                    <span class="icon nav_button__icon" style="background-image: url('/svg/nav/products.svg');"></span>
                    <span class="text  text--light">Products</span>
                </a>

                <div class="field_block">
                    <div class="field field--select">
                        <span class="text text--light">Choose...</span>
                    </div>
                    <select class="field__select">
                        <option value="1">111</option>
                        <option value="2">2222</option>
                        <option value="3">33333</option>
                        <option value="4">44444</option>
                        <option value="5">555555</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </nav>
        </aside>

        <header class="header">
            <div class="layout header__content">
                <div class="header_search">
                    <input type="text" placeholder="Search" class="field field--header header_search text text--small">
                    <span class="icon header__icon-search"
                        style="background-image: url('/svg/search/search.svg');"></span>
                    <span class="icon icon-button icon-color-blue click icon--header-settings"
                        style="background-image: url('/svg/search/settings.svg');"></span>
                </div>
                <div class="header_active_icon">
                    <span class="icon icon-button icon-backbor-yellow click header--active-signal"
                        style="background-image: url('/svg/search/signal.svg');"></span>
                    <span class="icon icon-button icon-backbor-blue click header--active-transleter"
                        style="background-image: url('/svg/search/transleter.svg');"></span>
                    <span class="icon icon-button icon-backbor-yellow click header--active-bell"
                        style="background-image: url('/svg/search/bell.svg');"></span>
                </div>
            </div>

        </header>
        <main class="main">
            <div class="layout">
                <section class="box">
                    <div class="analytic">
                        <span class="icon icon-button icon-color-blue click main_icon_analytic"
                            style="background-image: url('/svg/search/analytic.svg');"></span>
                    </div>
                </section>
            </div>

        </main>
    </div>
</body>