body {
    background: rgb(255, 255, 255);
}
 
body {
    color: rgb(0, 0, 0);
}

h1 {
   color: blue;
}

.green {
    color: green;
}

#blue {
    color: blue;
}

 
section
.box
div
 {
    background: green;
}

section
.box
p {
    background: red;
}

.brown {
    color: white;
    background: brown;
}

.card-body
div > ul {
   background: red;
}

 .header-button, button + span {
    background: red;

}
.susid ~ p {
    background: blue;
    color: white;
}

.salo,#bread {
    background: yellow;
}

.first-task 
li:first-child {
    color: white
}
.second-task
ul:first-child 
li:first-child {
    color:yellow
}
.third-task
ul:last-child
li:first-child {
    color:yellow;
}

.four-task
ul
li:last-child {
    color: yellow;
}

.five-task
ul:last-child
li:last-child {
    color: white;
}

.card-body
.only-child-task
div:only-child {
    color: red;
}

.seven-task
p:first-of-type {
    background: red;
}

.eight-task
p:last-of-type {
    background: red;
}

.nine-task
.text-wrapper
p:only-of-type {
    background: yellow;
}

.lesson-three-task-one
nav
ul
li
a[href] {
    color: white;
    background: blue;
}

.lesson-three-task-two
li[value='1'] {
    color: yellow;
}

.lesson-three-task-three
li[value='3'] {
    background: red;
}

.lesson-three-task-four
button[class~='primary'] {
    background: blue;
}

.lesson-three-task-five
button[class^='secondary'] {
    background: red;
}

.lesson-three-task-six
ul
li[class^='b'] {
    color: green;
    background: white;
}

.lesson-three-task-seven
ul
li[class*='on'] {
    color: green;
    background: white;
}

.lesson-three-task-eight
ul
li
span[class$='s'] {
    color: blue;
    background: white;
}

.lesson-three-task-nine
h2::first-letter {
    color: red;
}

.lesson-three-task-ten
p::first-line {
    background: yellow;
}

.lesson-three-task-eleven
input::placeholder {
    background: red;
}

.lesson-three-task-twelve
ul
li::before {
    content:"➤";
}

.lesson-three-task-thirteen
ul
li::after {
    content:"➤";
}